/* Ne trdim, da je spodnja koda avtorska. */

body {
    background-color: #2F2F2F;
    font-family: 'Courier new', Courier, sans-serif;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
    margin-bottom: 10px;
    padding: 5px;
    font-weight: bold;
}

p {
    margin: 10px 0;
    font-size: 16px;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: limegreen;
}

a:hover {
    color: green;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}


img {
    display: block;
    clear: both;
    margin-top: 20px;
}

/* Odstranim google logotip. */

#translate-button {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1000;
}

#google_translate_element {
    display: inline-block;
    padding: 10px;
    background-color: #2F2F2F;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}
body {
    top: 0px !important;
}
